/*
.from					--> .to
.mb-even-unapproved td	--> .even.uapproved {}
.mb-odd-unapproved td	--> .odd.uapproved {}
.mb-even-moved td		--> .even.moved {}
.mb-odd-moved td		--> .odd.moved {}
.mb-cat-indent			--> .indent {}
.mb-sticky td			--> .highlight {}
.mb-warned				--> .warning {}
span.quote-title		--> p.quotetitle {}

unregistered user post highlight
						--> .bitboard a.highlight {}
*/

.bitboard .mb-threading			{}

.bitboard tr.odd.unapproved		{background:#faa;}
.bitboard tr.even.unapproved	{background:#fac;}
.bitboard tr.odd.moved			{background:#aaf;}
.bitboard tr.even.moved			{background:#acf;}
.bitboard div.indent .indent	{margin-left:2em;}
.bitboard tr.highlight			{background:#fca;}
.bitboard .mb-post .warning		{}

/* post layout */
.bitboard .mb-post 				{clear:both;}
.bitboard .mb-post .body		{float:right;width:100%; margin-left:-200px;}
.bitboard .mb-post .content		{margin-left:200px;}
.bitboard .mb-post .header		{}
.bitboard .mb-post .userinfo	{float:left;width:200px;}
.bitboard .mb-post .signature	{clear:both;}

/* debugging and testing */
.bitboard .mb-post 	 			{background:#ffc; padding-bottom:1em; margin:1em;}
.bitboard .mb-post .body		{background:#ccc;}
.bitboard .mb-post .header		{background:#cfc; padding:1em;}
.bitboard .mb-post .header h2	{padding:0 1em; display:inline;}
.bitboard .mb-post .content		{background:#ccf; padding:1em;}
.bitboard .mb-post .userinfo	{background:#fcf;}
.bitboard .mb-post .signature	{background:#cff; padding-bottom:1em;}
.bitboard .indent				{}
.bitboard .indent				{border-left:5px solid #c64; margin-bottom:2em;}
.quotetitle						{margin-bottom:0.5em; font-weight:bold; font-style:italic;}
blockquote						{padding:0.5em; border:1px #aaa solid; background:#f7f7f7;}

ul.iconlegend					{list-style:none; clear:both;}
ul.iconlegend li				{list-style:none; width:200px;}
ul.iconlegend li img			{vertical-align:middle;}
